---
import SubCard from '../../components/SubCard.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
const tests = await Astro.glob('./content/*.md');
console.log(tests)
---
<BaseLayout page_title="Physics">
    <section class="ps">
        <div class="container">
            <h2 class="section_title s ">Physics Papers</h2>
            <!-- Posts Here  -->
            <div class="posts sub_page">

                {tests.map((test) =>
                        <SubCard frontmatter={test.frontmatter} url={test.url} />
                    )}

            </div>

        </div>
    </section>
</BaseLayout>