@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --ff-1:'Poppins', sans-serif;
    
    --clr-white-0:hsl(0, 0%, 100%);
    --clr-white-50:hsl(0, 0%, 95%);
    --clr-white-100:hsl(0, 0%, 90%);
    --clr-white-150:hsl(0, 0%, 85%);
    --clr-white-170:hsl(0, 0%, 83%);
    --clr-white-200:hsl(0, 0%, 80%);
    --clr-white-300:hsl(0, 0%, 70%);
    --clr-white-400:hsl(0, 0%, 60%);
    --clr-white-500:hsl(0, 0%, 50%);

    --clr-black-0:hsl(0, 0%, 0%);
    --clr-black-100:hsl(0, 0%, 10%);
    --clr-black-200:hsl(0, 0%, 20%);
    --clr-black-300:hsl(0, 0%, 30%);
    --clr-black-400:hsl(0, 0%, 40%);
/* Skyblue */
    --clr-skyblue-700:hsl(214, 49%, 35%);
    --clr-skyblue-600:hsl(218, 54%, 45%);
    --clr-skyblue-500:hsl(204, 57%, 51%);

/* Navyblue */
    --clr-navyblue-500:hsl(232, 49%, 49%);
    --clr-navyblue-400:hsl(232, 64%, 60%);
    --clr-navyblue-300:hsl(216, 56%, 67%);

/* Random Colors */
    --clr-primary:hsl(218, 70%, 59%);
    --clr-neongreen:hsl(142, 90%, 61%);
    --clr-yellowgreen:#bae84a;
    --clr-darkgreen:#5c9665;
    --clr-darkpink:#b25d72;
    --clr-darkred:rgb(153 27 27);
    --clr-danger:#e3363e !important;
    --clr-pink:#e4406e;
    --clr-peach:#ff7865;
    --clr-orange:#ea3c12;
    --clr-skin:rgb(254 226 226);

     

     --gray:rgb(70, 70, 70);
 
 
     --small-tags:rgba(0, 0, 0, 0.411);
     --hover-icons:rgb(67, 77, 121);
     --white:white;
     --trans-white:rgba(255, 255, 255, 0.418);
     --hover-gray:hsl(0, 0%, 95%);
 
     --dark-blue:hsl(0, 0%, 15%);
     --dark-blue-2:hsl(210, 74%, 16%);
 
     --content-box-shadow-1:0 0 10px rgba(0, 0, 0, 0.2);
}
*,
*::before,
*::after{
	margin:0;
	padding:0;
    box-sizing:border-box;
}
*{
    font-family:var(--ff-1);
}
input{
    width:100%;
}
html{
    height:100%;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x:hidden;
}

/* ////////////////////////////
        /// NAVBAR //
//////////////////////////// */
header{
    position:sticky;
    z-index:100;
    top:0;
	background-color:var(--clr-white-0);
    box-shadow:0 -10px 20px var(--clr-white-500);
}
nav{
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 7px 20px;
}
.bshad{
    box-shadow:0 0 15px var(--clr-white-300);
}
.nav_logo{
	display:inline-block;
	margin: auto 0;
	text-decoration: none;
	color:var(--clr-danger);
	font-size:1.3em;
    font-weight:900;
}
.nav_logo > span{
    color:var(--clr-black-300);
}
.searchWrapper{
    --search-br:50px;
    --search-border:2px solid var(--clr-white-150);
    
	display:flex;
	align-items: stretch;
	justify-content: center;
	width:clamp(5rem, 20vw + 1rem, 40rem);
	
}
.searchbar,.searchbtn{
    outline:none;
}
.searchbar{
	border-top-right-radius:var(--search-br);
    border-bottom-right-radius:var(--search-br);
    padding:.1em .5em;
    font-size:1em;
    border:var(--search-border);
    background-color:var(--clr-white-50);
    border-left:0px;
}
.searchbtn{
    border-top-left-radius:var(--search-br);
    border-bottom-left-radius:var(--search-br);
    padding: .8em 1em;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:var(--clr-navyblue-300);
    /* border:var(--search-border);
    border-right:0px; */
    border:0px;
}
.searchWrapper:focus-within{
    --search-border:2px solid var(--clr-navyblue-300);
}
.searchbtn > i{
    color:white;
}
.navigation{
    display:flex;
    align-items: stretch;
}
.nav_list{
	display:flex;
	align-items: stretch;
    gap:10px;
	list-style:none;
}
.nav_link{
	display:flex;
    align-items: center;
	text-decoration: none;
	padding:.2em .4em;
	color:black;
    height:100%;
    font-weight:500;
}
.nav_link > i{
    margin-left:8px;
}
.nav_items.dropdown{
    position:relative;
}
.dropdown a{
    cursor: pointer;
}
.dropdown a i{
    transition: transform 200ms linear;

}
.dropdown a i[data-drop="true"]{
    transform: rotate(-180deg);
}
.dropdown_menu{
    --inner-radius:5px;
    --offset:.3em;
    display:flex;
    flex-direction:column;

    position:absolute;
    top: calc(100% + 7px);
    right:0;
    list-style:none;
    z-index:1;

    padding:var(--offset);
    background-color:white;
    box-shadow: 0 0 10px hsl(0, 0%, 0%, .2);
    border-radius:calc(var(--offset) + var(--inner-radius));
    transition: all 150ms ease-in;

    overflow:hidden;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
}
.dropdown_menu[data-drop="true"]{
    transform:scaleY(1);
    visibility: visible;
}
.dropdown_menu .dropdown_link{
    text-align:center;
    display:block;
    border-radius:var(--inner-radius);
    text-decoration: none;
    color:inherit;
    padding:.2em 1em;
    overflow:hidden;
}
.dropdown_menu .dropdown_link:hover{
    background-color:var(--clr-white-150);
}
.dropdown_menu2 .dropdown_link{
    font-size:.8em;
    text-align:right;
}
.dropdown_menu2 .dropdown_link.dark-mode{
    text-align:center;
}
.dropdown_menu2{
    --inner-radius:5px;
    --offset:.1em;
    display:flex;
    flex-direction:column;

    position:absolute;
    top: calc(100% + 7px);
    right:0;
    list-style:none;
    z-index:1;

    padding:var(--offset);
    background-color:white;
    box-shadow: 0 0 10px hsl(0, 0%, 0%, .2);
    border-radius:calc(var(--offset) + var(--inner-radius));
    transition: all 150ms ease-in;

    overflow:hidden;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
}
/* /////////////////////
     Date/Event
//////////////////// */
.event_date{
    display:grid;
    grid-template-columns: 1fr;
    margin-top:1rem;
}
.event_date > h3{
    position:relative;
    cursor: pointer;
    padding:.3em .6em;
    color:white;
}
.event_date h3 > span{
    margin-left:10px;
    font-weight:500;
}
.event_date h3:first-child{
    background-color:rgb(57, 218, 110);
}
.event_date h3:last-child{
    background-color:rgb(255, 110, 110);
}
.event_date h3::before{
    --time: 200ms;
    color:white;
    /* position:absolute; */
    font-size:.8em;
    font-weight:400;
    text-transform: capitalize;
    text-align:center;
    padding:.4em;
    /* top:100%; */
    /* left:50%; */
    /* transform:translateX(-50%); */
    width:100%;
    border-radius:5px;
    background-color:hsl(0, 0%, 0%,.7);
    -webkit-transition: opacity var(--time) ease;
    -moz-transition: opacity var(--time) ease;
    -ms-transition: opacity var(--time) ease;
    -o-transition: opacity var(--time) ease;
    transition:  opacity var(--time) ease-out;
    /* visibility:hidden; */
    /* opacity:0; */

    position:static;
        /* transform:translateX(0); */
        display:inline-block;
        visibility: visible;
        opacity: 1;
        background-color: hsl(0, 0%, 0%, .3);
}
/* @media(hover){
    .event_date h3:hover::before{
    visibility: visible;
    opacity:1;
}
} */
.event_date h3:first-child::before{
    content:attr(data-info-today);
}
.event_date h3:last-child::before{
    content:attr(data-info-next);
}
.container{
    --container-padding:1.5rem;
    padding-right:var(--container-padding);
    padding-left:var(--container-padding);
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
/* /////////////////
  New Post/ Posts
///////////////// */
.ps{
    display:block;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}
.ps2{
    display:block;
    margin-top:2rem;
    margin-bottom:2rem;
}
.section_title{
    --_line-w:calc(50% - 100px);
    --_line-h:1px;
    --_line-clr:var(--clr-white-150);
    
    text-align:center;
    color:var(--clr-black-400);
    position:relative;
}
.section_title::before,
.section_title::after{
    position:absolute;
    content:"";

    height:var(--_line-h);
    width:var(--_line-w);
    background-color:var(--_line-clr);

    top:calc(50% - (var(--_line-h) / 2));
}
.section_title.s::before,
.section_title.s::after{
    --_line-w:calc(50% - 140px);
}
.section_title::before{
    left:0;
}
.section_title::after{
    right:0;
}
.posts{
    display:grid;
    gap:15px;
    margin-top:1rem;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
}
.posts.sub_page{
    display:grid;
    gap:15px;
    margin-top:1rem;
    grid-template-columns: repeat(5, 1fr);
}
.card{
    --card-br:calc(var(--pos) + var(--inner-br));
    --pos:5px;
    --inner-br:10px;

    position: relative;
    border-radius:var(--card-br);
    box-shadow: 0 0 15px hsl(0, 0%, 0%, .3);
    overflow:hidden;
}
.post_link img{
    display:block;
    max-width:100%;
    aspect-ratio:3 / 4;
    object-fit: contain;
}
.post_title{
    display:flex;
    align-items: center;
    justify-content: center;
    
    background-color:var(--clr-danger);
    padding:.4em;
    text-align:center;
    height:65px;

}
.post_link{
    position:relative;
    text-decoration: none;
    text-transform: capitalize;
    color:hsl(0, 0%, 100%, .8);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.sub_tag{
    position:relative;
}
.sub_tag::before{
    position:absolute;
    content:attr(data-sub);
    top:var(--pos);
    left:var(--pos);
    padding:.3em;
    font-size:.7em;
    font-weight:600;
    text-transform: uppercase;
    border-radius:var(--inner-br);
    color:white;
    background-color:rgb(43, 192, 238);
    z-index:2;
}
.sub_tag::after{
    position:absolute;
    content:attr(data-date);
    top:35px;
    left:var(--pos);
    padding:.3em .4em;
    font-size:.6em;
    font-weight:600;
    text-transform: uppercase;
    border-radius:var(--inner-br);
    color:white;
    background-color:var(--clr-pink);
    z-index:2;
}
.snum{
    display:flex;
    justify-content: center;
    align-items:center;
    
    position:absolute;
    top:var(--pos);
    right:var(--pos);
    width:25px;
    aspect-ratio: 1 / 1;
    font-size:.78em;
    font-weight:400;
    text-transform: uppercase;
    border-radius:100%;
    color:white;
    background-color:hsl(261, 70%, 55%);
    z-index:2;
}
/* /////////////////
   Tab Widdget
///////////////// */
.tab_wig{
    --_tab-br:15px;
    margin-top:1rem;
    border-radius:var(--_tab-br);
    overflow:hidden;
}
.tab_menu{
    display:flex;

    list-style:none;
}
.tab_items{
    flex-grow:1;
}
.tab_link{
    display:flex;
    justify-content: center;
    background-color:var(--clr-navyblue-300);
    font-size:.96em;
    font-weight: 600;
    padding:.3em;
    color:white;
    text-decoration:none;
    cursor: pointer;
}
.tab_link:hover{
    background-color:var(--clr-navyblue-400);
}
.tab_link.active{
    background-color:var(--clr-navyblue-500);
}
.tabs_content{
    text-align:center;
    background-color:var(--clr-white-100);
}
.tab_content{
    display:none;
    opacity:0;
    padding:.8em;

}
.tab_content[aria-hidden="false"]{
    display:block;
    opacity:1;

}
.sa_btn{
    display:inline-block;
    text-align:center;
    background-color:var(--clr-navyblue-300);
    margin-top:1rem;
    padding:.3em .5em;
    color:white;
    text-decoration: none;
    font-size:.96em;

}
.sa_btn:hover{
    background-color:var(--clr-navyblue-400);
}
.sa_btn:active{
    background-color:var(--clr-navyblue-500);
}
/* /////////////////
   Schedule Table
///////////////// */
table.schtbl{
    --table-border:2px solid white;
    margin:1.5em 0;
}
.schtbl th{
    padding:.4em;
    color:white;
    background-color:var(--clr-danger);
    border:var(--table-border);
}
.schtbl td{
    color:var(--clr-black-300);
    font-size:.85em;
    font-weight:500;
    padding:.4em .3em;
    border:var(--table-border);
    text-align:center;
}
.schtbl td[data-cell="date"]{
    width:10%;
}
.schtbl td[data-cell="subject"]{
    width:20%;
}
.schtbl tr:nth-child(n){
    background-color:hsl(203, 49%, 82%);
}
.schtbl tr:nth-child(2n){
    background-color:hsl(203, 49%, 87%);
}
.schtbl tr.schedule_today {
    background-color:hsl(138, 67%, 60%);
}
.schtbl tr.schedule_today td[data-cell="info"],
.schtbl tr.schedule_today td[data-cell="date"]{
    --clr:var(--clr-black-200);
    position:relative;
}
.schtbl tr.schedule_today td[data-cell="info"]::before,
.schtbl tr.schedule_today td[data-cell="date"]::before{
    position:absolute;
    content:'';
    border:10px solid transparent;
    top:50%;
    transform: translateY(-50%);
}
.schtbl tr.schedule_today td[data-cell="date"]::before{
    border-left:15px solid var(--clr);

    left:0;
}
.schtbl tr.schedule_today td[data-cell="info"]::before{
    border-right:15px solid var(--clr);

    right:0;
}
.schtbl tr.schedule_today > td{
    color:var(--clr-white-0);
}
.schtbl tr.holiday{
    background-color:hsl(59, 100%, 70%);
}
.schtbl tr.eid{
    background-color:hsl(24, 100%, 70%);
}
/* /////////////////
      Paper Page
//////////////// */
.ppr_imgs{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    margin-top:1rem;
    margin-bottom:1rem;

}
.ppr_imgs img{
    max-width:100%;
}
.ppr_imgs img[src=""]{
    display:none;
}
/* /////////////////
    Answer Table
//////////////// */
.anstbl{
    width:100%;
    border-collapse:collapse;

    margin-top:2rem;
    margin-bottom:1rem;

    text-align:center;
}
.anstbl td{
    border:1px solid black;
    padding:.4em;
}
.anstbl .qnum{
    font-weight:bold;
}
.anstbl td:nth-child(2n + 1){
    background-color:var(--clr-white-300);
}
.anstbl tr{
    display:grid;
    grid-template-columns: repeat( 20 , 1fr);
}
/* /////////////////
      Footer
//////////////// */
footer{
    background-color:var(--clr-white-500);
    text-align:center;
    color:white;
    padding: .2em 0;
    font-size:.9em;
}

/* Device that can support hover */
@media (hover){}

@media(max-width:768px){
    .event_date h3::before{
        position:static;
        transform:translateX(0);
        display:inline-block;
        visibility: visible;
        opacity: 1;
        background-color: hsl(0, 0%, 0%, .3);
    }
}
/* From Samll to All the way up */
@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width:768px){
    .container{
        max-width:720px;
    }
    .event_date{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:992px){
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width:1140px;
    }
}
@media (min-width:1400px){
    .container{
        max-width:1320px;
    }
}
/* User preference */
/* @media (prefers-reduced-motion: reduce){
    *,
    *::after,
    *::before{
        animation-duration:.01ms !important;
        animation-iteration-count:1 !important;
        transition-duration:.01ms !important;
        scroll-behavior:auto !important;
        transition-delay:0ms !important;
    }
} */
