---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout page_title="Home">
    <section class="ps">
        <div class="container">
            <h2 class="section_title">Latest Posts</h2>
            <!-- Posts Here  -->
            <div class="posts">

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

            </div>

        </div>
    </section>

    <!-- Biology -->
    
    <section class="ps2">
        <div class="container">
            <h2 class="section_title">All Subjects</h2>
            <div class="tab_wig bshad">
                <div class="tabs">
                    <ul class="tab_menu">
                        <li class="tab_items">
                            <a id="btab" data-target="#bcont" class="tab_link active" aria-selected="true" aria-controls="bcont">Biology</a>
                        </li>
                        <li class="tab_items">
                            <a id="ptab" data-target="#pcont" class="tab_link" aria-selected="false" aria-controls="pcont">Physics</a>
                        </li>
                        <li class="tab_items">
                            <a id="ctab" data-target="#vcont" class="tab_link" aria-selected="false" aria-controls="ccont">Chemistry</a>
                        </li>
                        <li class="tab_items">
                            <a id="etab" data-target="#econt" class="tab_link" aria-selected="false" aria-controls="econt">English</a>
                        </li>
                    </ul>
                </div>
                <div class="tabs_content">

                    <div class="tab_content active" id="bcont" aria-hidden="false" aria-labelledby="btab">
                        Bio
                        <div class="posts">

                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                        </div>
                        <a class="sa_btn" href="/Biology">Show All</a>
                    </div>

                    <div class="tab_content" id="pcont" aria-hidden="true" aria-labelledby="ptab">
                        Physics
                        <div class="posts">

                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                        </div>
                        <a class="sa_btn" href="/Physics">Show All</a>
                    </div>

                    <div class="tab_content" id="pcont" aria-hidden="true" aria-labelledby="ctab">
                        Chemistry
                        <div class="posts">

                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                        </div>
                        <a class="sa_btn" href="/Chemistry">Show All</a>
                    </div>

                    <div class="tab_content" id="pcont" aria-hidden="true" aria-labelledby="etab">
                        English
                        <div class="posts">

                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                            <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                                <a href="https://www.twitter.com" class="post_link noto">
                                    <img src="/Images/Physics/20230522_212342.jpg">
                                </a>
                                <h4 class="post_title">
                                    <a href="#" class="post_link">
                                        Physics t4 (ch2 + ch3)
                                    </a>
                                </h4>
                                <span class="snum">S.1</span>
                            </div>
            
                        </div>
                        <a class="sa_btn" href="/English">Show All</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="../Javascript/mainPage.js"></script>
</BaseLayout>