---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout PageTitle="Home">
    <main>
        <section>
            <div class="container">
                <div class="event_date">
                    <h3>Today : <span><span>Physics</span> + <span>English</span></span></h3>
                    <h3>Upcoming : <span><span>Biology</span> + <span>Chemistry</span></span></h3>
                </div>
            </div>
        </section>

    </main>
    
</BaseLayout>