---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout page_title="Home">
    <section class="nps">
        <div class="container">
            <h2 class="section_title">Latest Posts</h2>
            <!-- Posts Here  -->
            <div class="posts">

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

                <div class="post card sub_tag" data-sub="Physics" data-date="20-05-23">
                    <a href="https://www.twitter.com" class="post_link noto">
                        <img src="/Images/Physics/20230522_212342.jpg">
                    </a>
                    <h4 class="post_title">
                        <a href="#" class="post_link">
                            Physics t4 (ch2 + ch3)
                        </a>
                    </h4>
                    <span class="snum">S.1</span>
                </div>

            </div>

        </div>
    </section>
</BaseLayout>