---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout PageTitle="Home">
    <main>
        <a href="./notes/Sentence completion.pdf.pdf" download="Sentence Completion">
            Sentence Completion
        </a>
        <br>
        <a href="./notes/Verbs.pdf" download="Verbs">
            Verbs
        </a>

    </main>
    
</BaseLayout>