---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout page_title="Schedule">
    <div class="container">
        <!-- <table class="schtbl" data-table style="width:100%; border-collapse:collapse;">
            <tr>
                <th data-cell="date">Date</th>
                <th data-cell="subject">Subject</th>
                <th data-cell="info">Syllabus</th>
            </tr> 
        </table> -->
        <img src="/Images/Syllabus/5TH JUNE TEST SESSION FINAL-1.webp" style="width:100%;">
        <img src="/Images/Syllabus/5TH JUNE TEST SESSION FINAL-2.webp" style="width:100%;">
        <img src="/Images/Syllabus/5TH JUNE TEST SESSION FINAL-3.webp" style="width:100%;">
        <img src="/Images/Syllabus/5TH JUNE TEST SESSION FINAL-4.webp" style="width:100%;">
    </div>
    <!-- <template>
        <tr data-row>
            <td data-cell="date"></td>
            <td data-cell="subject"></td>
            <td data-cell="info"></td>
        </tr>
    </template>
    <script src="../Javascript/schedule.js"></script> -->
</BaseLayout>