---

---
<header>
<div class="container">
    <nav>
        <a class="nav_logo" href="/">
            Grip <span>Tests</span>
        </a>
        <div class="searchWrapper">
            <button class="searchbtn">
                <i class="fas fa-search"></i>
            </button>
            <input type="search" class="searchbar" placeholder="Search...">
        </div>
        <div class="navigation">
            <ul class="nav_list">
                <li class="nav_items dropdown"><a class="nav_link">Subjects<i data-drop="false" class="fa-solid fa-caret-down"></i></a>
                    <ul class="dropdown_menu" data-drop="false" aria-labelledby="dropdown" aria-expanded="false">
                        <li class="dropdown_item"><a href="/Biology" class="dropdown_link">Biology</a></li>
                        <li class="dropdown_item"><a href="/Physics" class="dropdown_link">Physics</a></li>
                        <li class="dropdown_item"><a href="/Chemistry" class="dropdown_link">Chemistry</a></li>
                        <li class="dropdown_item"><a href="/English" class="dropdown_link">English</a></li>
                    </ul>
                </li>
                <li class="nav_items"><a href="/Chemistry" class="nav_link"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
</header>