---

---
<header>
<div class="container">
    <nav>
        <a class="nav_logo">
            Grip <span>Tests</span>
        </a>
        <div class="searchWrapper">
            <button class="searchbtn">
                <i class="fas fa-search"></i>
            </button>
            <input type="search" class="searchbar" placeholder="Search...">
        </div>
        <div class="navigation">
            <ul class="nav_list">
                <li class="nav_items"><a href="/Biology" class="nav_link">Biology</a></li>
                <li class="nav_items"><a href="/Chemistry" class="nav_link">Chemistry</a></li>
                <li class="nav_items"><a href="/Physics" class="nav_link">Physics</a></li>
                <li class="nav_items"><a href="/English" class="nav_link">English</a></li>
            </ul>
        </div>
    </nav>
</div>
</header>