---
import '../styles/stylesheet.css';

let {title, syllabus, imgSrc1} = Astro.props;
---

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content={syllabus} data-pagefind-index-attrs="content">
    <title>{title}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script is:inline src="../Javascript/app.js"></script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
